# MySQL Connector For Python

In [51]:
import mysql.connector

In [52]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="x"
)

In [53]:
print(mydb)
mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f49331c78b0>

In [54]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('artworks',)
('ciencia_de_datos',)
('information_schema',)
('mysql',)
('performance_schema',)
('revistaue',)
('rhombus',)
('stevedb',)
('wordpressdb',)

In [55]:
mycursor.execute("CREATE DATABASE pruebita")

In [56]:
SQL = "USE pruebita"
mycursor.execute(SQL)

In [57]:
SQL = "CREATE TABLE alumno(id int AUTO_INCREMENT PRIMARY KEY, nombre VARCHAR(250), correo VARCHAR(250))"
mycursor.execute(SQL)

In [58]:
SQL = "SHOW TABLES"
mycursor.execute(SQL)
for x in mycursor:
    print(x)

('alumno',)

In [59]:
SQL = "SELECT * FROM alumno"
mycursor.execute(SQL)
for x in mycursor:
    print(x)